<div
  class="home-container bg-gray-100 p-8 rounded-lg shadow-lg mx-auto mt-8 max-w-3xl text-center"
>
  <h1 class="text-4xl font-bold mb-6">
    ¡Bienvenido a la aplicación de Campañas!
  </h1>
  <p class="text-lg mb-6">
    En esta aplicación podrás gestionar tus campañas y explorar sus detalles.
  </p>
  <button
    (click)="navigateToCampaigns()"
    class="px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300"
  >
    Ver Campañas
  </button>
</div>
